<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Transitionpoint</string>
	<key>uuid</key>
	<string>9DF2A73B-11D4-49B0-9008-6407913B2A49</string>
</dict>
</plist>
